---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: c-logging-elasticsearch-s3-credentials
  namespace: c-logging
  labels:
    k8s-app: c-logging-kibana
    app.kubernetes.io/managed-by: iscp
    app.kubernetes.io/app-name: application_logging
    app.kubernetes.io/app-catalog: simple
    app.kubernetes.io/app-sla: 24x7
    app.kubernetes.io/app-management: application
    app.kubernetes.io/component: kibana
    app.kubernetes.io/version: 8.8.2
data:
  s3.client.default.access_key: {{ cosAccessKey }}
  s3.client.default.secret_key: {{ cosSecretKey }}